.body{
    .title{
        border-bottom: 1px solid white;

        h1{
            color: white;
            font-size: 60px;
        }
    }


    .top{
        margin: 40px;
        border-bottom: 1px solid white;

        h2{
            font-size: 60px;
            color: #E7AE25;
        }

        p{
            font-size: 30px;
            color: white;
            line-height: 1.6;
        }
    }

    .goal{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 15px;
        background-color: rgba(78, 58, 10, 0.675);

        h1{
            color: white;
            font-size: 60px;
            margin-bottom: 10px;
        }
      
        p{
            color: white;
            font-size: 25px;
            line-height: 1.6;
        }

        .left,
        .right{
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
  
        .mid{
            flex: 2;
            text-align: center;
        }   
  
        .abtdesign {
            width: 200px;
            height: auto;
            margin: 12px 0px 14px;
        }

    }

    .bottom{
        margin: 40px;
        border-top: 1px solid white;

        h2{
            font-size: 60px;
            color: #E7AE25;
        }

        p{
            line-height: 1.6;
            font-size: 30px;
            color: white;
        }

    }
}

@media screen and (max-width: 726px){
    .body{
        .title{
            h1{
                font-size: 56px;
            }
        }

        .top{
            h2{
                font-size: 52px;
            }

            p{
                font-size: 26px;
            }
        }

        .goal{
            h1{
                font-size: 52px;
            }

            p{
                font-size: 22px;
            }

            .abtdesign{
                margin: 20px 0px 16px;
            }
        }
    }
}

@media screen and (max-width: 576px){
    .body{
        .title{
            h1{
                font-size: 52px;
            }
        }

        .top{
            h2{
                font-size: 48px;
            }

            p{
                font-size: 22px;
            }
        }

        .goal{
            h1{
                font-size: 48px;
            }

            p{
                font-size: 20px;
            }

            .abtdesign{
                display: none;
            }
        }
    }
}