body{
  height: auto;
  width: auto;
  margin: 0;
  padding: 0;
  /*add ng /static para mag ano ung background*/
  background-image: url('/static/images/bgimage.png');
  background-size: cover;

  text-align: center;
}