.cont{
    display: flex;
    flex-direction: row;
  
    .leftdiv{
      width: 65%;
      text-align: center;
  
      .mainnav{
        padding-top: 10%;
        font-size: 25px;
  
        a{
          padding-left: 5%;
        }
      }
  
      .homelogo{
        padding-top: 5%;
        width: 100%;
      }
  
      p{
        color: #E7AE25;
      }
  
      p.welcome{
        font-size: 45px;
      }
  
      p.desc{
        padding: 5% 15% 10%;
        font-size: 30px;
      }
  
      .button {
        margin-top: 100%;
        padding: 15px 80px;
        background-color: #4E3A0A;
        border: none;
        border-radius: 25px;
        color: white;
        font-size: 22px;
        cursor: pointer;
      
          &:hover {
          background-color: #2980b9;
        }
      
          &:active {
          background-color: #2471a3;
        }
      }
  
  
    }
  
    .rightdiv{
      width: 35%;
      text-align: center;
  
      .homedesign{
        width: 50%;
        margin-bottom: 5%;
      }
    }
  }
  
  
  
  @media screen and (max-width: 1024px){
    .cont{
      display: flex;
      flex-direction: row;
  
    
      .leftdiv{
        width: 65%;
        text-align: center;
  
        .mainnav{
          padding-top: 10%;
          font-size: 22px;
  
          a{
            padding-left: 5%;
          }
        }
    
        .homelogo{
          padding-top: 5%;
          width: 100%;
        }
  
        p{
          color: #E7AE25;
        }
  
        p.welcome{
          font-size: 45px;
        }
  
        p.desc{
          padding: 5% 15% 10%;
          font-size: 20px;
        }
  
        .button {
          margin-top: 100%;
          padding: 15px 80px;
          background-color: #4E3A0A;
          border: none;
          border-radius: 25px;
          color: white;
          font-size: 22px;
          cursor: pointer;
        
            &:hover {
            background-color: #2980b9;
          }
        
            &:active {
            background-color: #2471a3;
          }
        }
  
  
      }
    
      .rightdiv{
        width: 35%;
        text-align: center;
  
        .homedesign{
          width: 50%;
          margin-bottom: 5%;
        }
      }
    }
  }