.cont{
    height: 20%;
    width: auto;
    text-align: center;
    border: solid 1px orange;
    background-color: rgba(0, 0, 0, 0.0); /* Black background with 100% opacity */

    h1{
        color: white;
    }
}