.cont{
  margin: 50px;
  display: flex;
  flex-direction: row;

  .leftdiv{
    width: 70%;
    text-align: center;
    
    .mainnav a {
      font-size: 25px;
      margin: 40px;
      font-size: 30px;
      color: white;
      text-decoration: none;
      position: relative;
      transition: color 0.3s ease;
    }
    
    .mainnav a::after {
      content: '';
      display: block;
      width: 0;
      height: 1px;
      background-color: transparent;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      transition: width 0.3s ease, background-color 0.3s ease;
    }

    .mainnav a:hover{
      color: #E7AE25;
    }
    
    .mainnav a:hover::after {
      width: 120%; 
      color: #E7AE25;
      background-color: #E7AE25;
    }

    .homelogo{
      padding-top: 5%;
      width: 100%;
    }

    p{
      color: #E7AE25;
    }

    p.welcome{
      font-size: 45px;
    }

    p.desc{
      padding: 5% 15% 10%;
      font-size: 30px;
    }

    .button {
      text-decoration: none;
      margin-top: 100%;
      padding: 15px 80px;
      background-color: #4E3A0A;
      border: none;
      border-radius: 25px;
      color: white;
      font-size: 22px;
      cursor: pointer;
      transition: background-color 0.3s, color 0.3s; /* Add transition for background-color and color */
    }
    
    .button:hover {
      background-color: #261c05; /* Change background color on hover */
      color: #ffffff; /* Change text color on hover */
    }
    


  }

  .rightdiv{
    width: 35%;
    text-align: center;

    .homedesign{
      width: 50%;
      margin-bottom: 5%;
    }
  }
}



@media screen and (max-width: 1024px){

  .cont{
    .leftdiv{
      .mainnav{
        font-size: 22px;
        }
        
        p.welcome{
        font-size: 45px;
        }
        
        p.desc{
        font-size: 20px;
        }
    }

    .rightdiv{
      .homedesign{
        width: 50%;
        margin-bottom: 15%;
        }
    }
  }
}

@media screen and (max-width: 768px) {
  .cont{
    .leftdiv{
      width: 100%;

      .homelogo{
        padding-top: 5%;
        width: 90%;
      }
        
      p.welcome{
        font-size: 45px;
        margin-top: -1%;
      }
        
      p.desc{
        font-size: 20px;
        margin-top: -5%;
      }

      .button{
        margin: -2%;
        adding: 12px 60px;
        font-size: 20px;
      }
    }

    .rightdiv{
      display: none;
    }
  }
}

@media screen and (max-width: 576px){
  .cont{
    .leftdiv{
      width: 100%;
      .mainnav a{
        font-size: 20px;
        }

      .homelogo{
        margin-top: 6%;
        width: 90%;
      }
        
      p.welcome{
        font-size: 40px;
        margin-top: 4%;
      }
        
      p.desc{
        font-size: 18px;
        margin: -5% -8% 0%;
      }

      .button{
        margin: -6%;
        padding: 12px 60px;
        font-size: 20px;
      }
    }

    .rightdiv{
      display: none;
    }
  }
}
