
.categories{
    font-size: 30px;
    letter-spacing: 2px;
    color: white;

    border-bottom: 1px solid white;
}

.search_bar {
    width: 100%;
    max-width: 300px;
    padding: 10px 50px;
    background-color: #ccc;
    border-radius: 20px;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-size: 16px;
}

.search_bar::placeholder {
    color: #999;
}

/* Style when the input is focused */
.search_bar:focus {
    outline: none;
    border-color: rgba(231, 174, 37, 0.54); 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.recipecard_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 25px;
    transition: margin-top 0.3s ease;
}

.recipecard {
    position: relative;
    background-color: rgba(231, 174, 37, 0.54);
    width: calc(50% - 10px);
    margin-bottom: 30px;
    border-radius: 30px;
    box-sizing: border-box;
    transition: transform 0.3s ease, background-color 0.3s ease;

    img {
        object-fit: cover;
        margin: 20px;
        border-radius: 30px;
        width: 80%;
        height: 200px;
        transition: width 0.3s ease, height 0.3s ease;
        transition: transform 0.3s ease;
    }

    .name {
        margin: 0;
        font-size: 25px;
        font-weight: bold;
        color: white;

    }

    .variables {
        font-size: 18px;
        color: white;
    }

    .viewbtn {
        margin-top: 30px;
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60%;
        height: 50px;
        background-color: rgba(78, 58, 10, 1);
        border-radius: 0 30px 30px 0;
        color: white;
        text-decoration: none;
        font-style: italic;
        font-size: 16px;
        transition: padding 0.3s, color 0.3s;
        overflow: hidden;
    }

    .viewbtn:hover {
        padding-right: 30px;
        color: rgba(255, 255, 255, 0.8);
    }

    .viewbtn span {
        display: inline-block;
        margin-left: 10px;
        transition: margin 0.3s;
    }

    .viewbtn:hover span {
        margin-left: 50px;
    }
}


.recipecard:hover {
    transform: scale(1.05);
    background-color: rgba(241, 191, 75, 0.577);
}

.recipecard:hover img {
    transform: scale(1.1);
}


@media (min-width: 768px) {
    .recipecard {

        width: calc(28% - -4%);
    }
}

@media (max-width: 576px) {
    .recipecard {

        width: calc(100% - 20px);
    }
}
