.recipe_container {
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    border-radius: 30px;
}

.title_container {
    p {
        font-weight: bold;
    }

    h1 {
        margin: 0;
        font-size: 60px;
    }
}

.image_container {
    max-width: calc(100% - 40px); /* Adjusted to include margin */
    max-height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px; /* Add margin around the image */

    img {
        border-radius: 30px;
        max-width: 100%;
        height: auto;
        object-fit: cover;
    }
}

.information_container {
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.top_container {
    background-color: aqua;
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap on smaller screens */
    justify-content: space-between;
}

.bottom_container {
    background-color: burlywood;
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap on smaller screens */
    justify-content: space-between;
}

.left_item,
.right_item,
.leftbtm_item,
.rightbtm_item {
    width: 100%; /* Initially, items take full width */
    margin-bottom: 10px; /* Add some space between items */
}

/* Adjust widths for smaller screens */
@media (min-width: 768px) {
    .left_item,
    .right_item,
    .leftbtm_item,
    .rightbtm_item {
        width: 48%; /* Adjusted width for larger screens */
    }
}

.button {
    margin: 0;
    display: flex;
    align-items: center;
    min-width: 100px;
    text-decoration: none;
}

.button img {
    width: 200px;
    height: auto;
    margin-right: 10px;
    transition: width 0.3s ease;
}

/* For responsiveness */
@media (max-width: 768px) {
    .button img {
        width: 100px;
    }
}
