.subhead{
    height: 30%;
    width: auto;
    color: white;

    .subline {
        height: 2px; // Thickness of the line
        background-color: white; // Color of the line
        width: 80%; // Width of the line
        margin: 20px 100px 0px;
    }
}

.cont{
    color: white;
}